<div class="pagination-controls">
    <div class="controls">
      <label for="items-per-page">Items per page:</label>
      <select id="items-per-page" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange(itemsPerPage)">
        @for (option of itemsPerPageOptions; track $index) {
          <option [value]="option">{{ option }}</option>
        }
      </select>
      
    </div>
  
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
  